.con{
    width: 100%;
}
.first{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url('/src/assets/images/home-new-bg-free-img.jpg');
    background-position: center;
    /* background-position: top; */
    background-size: cover;
    object-fit: contain;
    background-color: rgba(3, 3, 77, 0.326);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    padding: 0px 150px;
    background-attachment: fixed;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
}
.info > h1{
    font-size: 66px;
    line-height: 92px;
    font-weight: 600;
}
.info p{
    font-size: 25px;
    line-height: 34px;
    font-weight: 600;
    padding-top: 20px;
}
.account{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con a{
    color: black;
    text-decoration: none;
}
.first a{
    border: 1px solid black;
    padding: 13px 15px;
    border-radius: 10px;
}
.links{
    display: flex;
    gap: 10px;
}
.buttons-route{
    display: flex;
    gap: 30px;
    padding-top: 35px;
}
.buttons-route a{
    padding: 15px 30px;
    border-radius: 0px;
    border: 1px solid white;
    font-size: 14.5px;
}
.white{
    background-color: white;
    border: none;
    color: black;
}
.buttons .black{
    color: white;
}
.white:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: 0.4s ease;
}
.black:hover{
    background-color: white;
    color: black;
    transition: 0.4s ease;
}
.categories-section{
    padding: 80px 100px 50px;
}
.cat-grid{
    display: flex;
    gap: 30px;
    padding-top: 50px;
}
.cat-item img{
    height: 400px;
    width: 100%;
}
.cat-item .shop{
    padding: 20px 0px 0px;
    text-decoration: none;
    color: grey;
    font-size: 14px;
}
.onsale-con{
    padding: 50px 100px;
    position: relative;
    
}
.onsale{
    padding: 130px 100px;
    width: 100%;
    background-repeat: no-repeat;
    
    background-image: url('/src//assets/images/shoes-back.webp');
    background-attachment: fixed;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    /* background-position-x: 100px; */
    /* background-color: transparent;
    background-blend-mode: darken; */
}
.sale{
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}
.sale h3{
    font-size: 28px;
    font-weight: 100;
}
.sale h1{
    font-size: 50px;
}
.sale .buy{
    margin-top: 30px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    width: fit-content;
    position: relative;
}
.products{
    width: 100%;
    padding: 60px 100px 60px;
}
